<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> movi information</h1>
    {% if movies_list %}
    <table border=2>
    <thead>
    <th> RELEASE DATE</th>
      <th> MOVI NAME</th>
        <th> HERO</th>
          <th> HEROINE</th>
            <th> RATING</th>
        </thead>
        {% for movie in movies_list %}
        <tr>
        <td>{{movie.rdate}}</td>
        <td>{{movie.moviename}}</td>
        <td>{{movie.hero}}</td>
        <td>{{movie.heroine}}</td>
        <td>{{movie.rating}}</td>
        </tr>
        {% endfor %}
        </table>
        {% else %}
        <p> no information</p>
        {% endif %}

  </body>
</html>
